<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.SysPermissionMapper">
<select id="findUrlByUserId" resultType="com.example.demo.entity.SysPermission">
  SELECT * from sys_permission where type="permission" and  id IN(
SELECT
	r.sys_permission_id
FROM
	sys_role_permission r
WHERE
	r.sys_role_id IN(
		SELECT
			sys_role_id

FROM
	sys_user_role
		WHERE
			sys_user_id = #{userid}
	))

</select>
</mapper>
